/* STILL TO DO: get background for gameplay and design scoreboard page */

.homepage {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(233, 175, 104);
    background-image: linear-gradient(rgb(233, 175, 104), wheat);
    background-size: 100% 95%;
    background-repeat: no-repeat;
}

.title{
    width: auto;
    color: goldenrod;
    padding: 5px;
    font-size: 70px;
    font-family: 'Caveat';
    font-weight: bold;
    text-align: center;
}

.title:hover {
    transform: scale(1.1);
}

.startMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale();
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    width: 300px;
    height: 30%;
    border-style: ridge;
    border-color: bisque;
    border-width: 10px;
    border-radius: 13px;
    background-color: antiquewhite;
}

.howToPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    margin-top: 10%;
    border-radius: 13px;
    border-style: ridge;
    border-width: 10px;
    border-color: bisque;
    background-color: #f9edcf;
    color: #5C4033;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.button {
    border: solid 4px #5C4033;
    border-radius: 13px;
    background-color: #5C4033;
    color: rgb(246, 236, 218);
    height: 100%;
    font-size: 30px;
    font-family: 'Caveat';
    text-align: center;
    margin: 15px;
    text-decoration: none;
}

.attributions, a.attributions:visited {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#5C4033;
    font-size: 10px;
}

a:link, a:visited {
    color: rgb(246, 236, 218);
    height: 100%;
    font-family: 'Caveat';
    text-align: center;
    margin: 15px;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.pug {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100px;
    z-index: 1;
}

.gameMenu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 175, 104);
}

.gamePlay { 
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#canvasGame {
    position: absolute;
    top: 48%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    border: 5px solid darkred;
    box-sizing: border-box;
}

.scoreBoard {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    background-color: #f9edcf;
}

#background {
    display: none;
}

#pug {
    display: none;
}

#mushroom {
    display: none;
}

#dogTreat {
    display: none;
}

#fullScreenButton {
    position: absolute;
    font-size: 20px;
    padding: 2px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    border: solid 4px #5C4033;
    border-radius: 13px;
    background-color: #5C4033;
    color: rgb(246, 236, 218);
    font-family: 'Caveat';
    font-size: 20px;
    text-align: center;
}